<footer class="fixed-bottom">
    <div class="alert alert-secondary" role="alert">
        <div class="row justify-content-center">
            <div class="col-auto">
                Copyright &copy; MIT License. This site if free for everyone.
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap -->
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.16.1/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script>